.form__input {
  font-family: 'Inter', Arial, sans-serif;
  background-color: transparent;
  border: none;
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 13px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
